body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
}


.grid-size{
    flex-grow:1;
    flex-shrink: 1;
    flex-basis: 100px;
    border: 1px solid blue;
    width: 300px;
}

.grid-container{
    display: grid;
    height: 500px;
    width: 500px;
    border: 1px solid black;
}

.grid-element{
    
}

.grid-element-hover{
    background-color: red;
}