body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title{
    width: 500px;
    display: flex;
    flex-direction: row;
    gap:10px;
    justify-content: space-between;
    align-items: center;
}

.color{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.color.input{
    
}
.grid-size{
    width: 250px;
}

.grid-container{
    display: grid;
    height: 500px;
    width: 500px;
    border: 1px solid black;
}

.grid-element{
    
}

.grid-element-hover{
    
}